<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гео гид Кисловодск</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="manifest" href="manifest.json">
    <!-- ios support -->
    <link rel="apple-touch-icon" href="images/icons/icon-72x72.png">
    <link rel="apple-touch-icon" href="images/icons/icon-96x96.png">
    <link rel="apple-touch-icon" href="images/icons/icon-128x128.png">
    <link rel="apple-touch-icon" href="images/icons/icon-144x144.png">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <link rel="apple-touch-icon" href="images/icons/icon-192x192.png">
    <link rel="apple-touch-icon" href="images/icons/icon-384x384.png">
    <link rel="apple-touch-icon" href="images/icons/icon-512x512.png">

    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  />
    <meta name="apple-mobile-web-app-status-bar" content="#db4938">
    <meta name="theme-color" content="#db4938">
  </head>
  <body>
    <div id="app">
      <header></header>

      <main>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <h1>Гео аудио гид <b> Кисловодск</b>а</h1>

              <img v-if="userLongitude" :src="src" class="yageo" />
              <audio
                controls
                ref="audio"
                autoplay="true"
                muted="true"
                id="gogogo"
              >
                <source :src="currentAudio" type="audio/mpeg" />
              </audio>

              <ul class="list-group">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
                  v-for="(location, index) in locations"
                  :key="index"
                  @click="playAudio(index)"
                >
                  {{ location.name }}
                  <span class="badge badge-light badge-pill"
                    >{{ location.distance.toFixed(2) }} км
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {{ minDistanceObject}}
      </main>

      <footer></footer>
    </div>
    <script>
      var app = new Vue({
        el: "#app",

        data: {
          locations: [
            {
              name: "Колоннада",
              audioUrl: "kolonada.mp3",
              latitude: 43.898676,
              longitude: 42.716972,
              distance: 0,
            },
            {
              name: "Статуя Влюбленные",
              audioUrl: "lovers.mp3",
              latitude: 43.8936454,
              longitude: 42.7060095,
              distance: 0,
            },
            {
              name: "Вечный огонь",
              audioUrl: "voin.mp3",
              latitude: 43.913861,
              longitude: 42.706044,
              distance: 0,
            },
          ],
          currentAudio: "./mp3/intro.mp3",
          nearLatitude: null,
          nearLongitude: null,
          userLatitude: null,
          userLongitude: null,
        },
        computed: {
          src: function () {
            src = `https://static-maps.yandex.ru/1.x/?l=map&pt=${this.userLongitude},${this.userLatitude},ya_ru~${this.nearLongitude},${this.nearLatitude},flag`;

            return src;
          },

          minDistanceObject: function () {
            this.locations.reduce((min, current) => {
              let minDistanceObject =
                current.distance < min.distance ? current : min;
              this.nearLatitude = minDistanceObject.latitude;
              this.nearLongitude = minDistanceObject.longitude;
              return minDistanceObject;
            });
          },
        },
        mounted() {
          navigator.geolocation.watchPosition(this.updateUserLocation);
        },
        methods: {
          playAudio(index) {
            this.currentAudio = "./mp3/"+this.locations[index].audioUrl;
            this.$refs.autoplay = true;
            this.$refs.muted = true;
            this.$refs.audio.load();
            this.$refs.audio.play();
          },
          updateUserLocation(position) {
            this.userLatitude = position.coords.latitude;
            this.userLongitude = position.coords.longitude;
            this.calculateDistances();
          },
          calculateDistances() {
            for (let i = 0; i < this.locations.length; i++) {
              let location = this.locations[i];
              let distance = this.getDistanceFromLatLonInKm(
                location.latitude,
                location.longitude,
                this.userLatitude,
                this.userLongitude
              );
              this.locations[i].distance = distance;
              if (distance < 0.1) {
                this.playAudio(i);
              }
            }

            this.locations.sort((a, b) => a.distance - b.distance);
          },
          getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
            var R = 6371; // Radius of the earth in km
            var dLat = (lat2 - lat1) * (Math.PI / 180); // deg2rad below
            var dLon = (lon2 - lon1) * (Math.PI / 180);
            var a =
              Math.sin(dLat / 2) * Math.sin(dLat / 2) +
              Math.cos(lat1 * (Math.PI / 180)) *
                Math.cos(lat2 * (Math.PI / 180)) *
                Math.sin(dLon / 2) *
                Math.sin(dLon / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var d = R * c; // Distance in km
            return d;
          },
        },
      });
    </script>
  </body>
</html>
